@using Microsoft.EntityFrameworkCore
@using PixelPlay.Models
@model List<Games>
@{
    ViewData["Title"] = "Home";
@inject PixelPlay.Repositories.ReposInterface.ICategoriesRepo categoriesrepo
    var categories = categoriesrepo.GetCategory();
}

<div>
    <h1 class="display-4 text-center">Welcome @User.Identity!.Name</h1>
    <hr />

    <h3>
        <i class="bi bi-dpad"></i>
        Featured Games
    </h3>

    @if (!Model.Any())
    {
        <div class="alert alert-danger mt-5">
            <h4 class="alert-heading">No Games!</h4>
            <p class="mb-0">No games were added yet!.</p>
        </div>
    }

    <!--Main Section-->
    <div class="position-relative">
        <button class="scroll-btn left btn btn-primary" onclick="scrollContainer('left')">
            &#10094;
        </button>

        <div id="games-scroll-container" class="d-flex overflow-auto gap-3 px-4 py-2" style="scroll-behavior: smooth;">
            @foreach (var item in Model.Take(10))
            {
                @await Html.PartialAsync("_GameCard", item)
            }
        </div>

        <button class="scroll-btn right btn btn-primary" onclick="scrollContainer('right')">
            &#10095;
        </button>
    </div>

    <div class="d-flex justify-content-center my-3">
        <a asp-controller="Games" asp-action="Index" asp-area="User" class="btn btn-dark btn-lg browse-all-btn">
            Browse All Games <i class="bi bi-arrow-right"></i>
        </a>
    </div>

    <hr />

@foreach (var category in categories)
{
    var gamesInCategory = Model
        .Where(g => g.GameCategories.Any(gc => gc.CategoryId == category.Id))
        .Take(6).ToList();

    if (gamesInCategory.Any())
    {
        <section class="mb-2">
            <h2 class="mb-3">@category.Name</h2>
            <div class="row">
                @foreach (var game in gamesInCategory)
                {
                    @await Html.PartialAsync("_ActionGameCard", game)
                }
            </div>
        </section>
            <div class="d-flex justify-content-center mb-3">
                <a asp-controller="Games" asp-action="Index" asp-area="User" asp-route-category="@category.Id" class="btn btn-primary btn-lg browse-all-btn">
                    Browse All @category.Name Games <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        <hr class="mt-1"/>    
    }
}

</div>